# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application smoke test

on:
  push:
    branches: [ main ]
    paths:
      - "*.py"
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - 
      name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - 
      name: Test access with current PAT (need to update to my PAT instead GitHub's as it doesn't work across orgs)
      run: |
        export github_token=${{ secrets.GITHUB_TOKEN }} 
        echo "Org Name: $ORG_NAME"
        python test.py --org $ORG_NAME
      env:
        ORG_NAME: ${{ github.event.organization.login }}
